@import "tailwindcss";

@import "tailwindcss";
.hi{color: white;

  opacity: 0.8;
  transition: transform 0.3s ease-in-out; /* Apply transition to the transform property */
}

.hi:hover {
  color: rgb(120, 176, 244);
  opacity: 0.9;

  transform:  scale(1.5);           /* Scale up uniformly */
}
.bg-neutral-600 {
    background-color: var(--color-neutral-600) /* oklch(43.9% 0 0) = #525252 */;
    opacity: 0.8;
}
.box1{
 box-shadow: 2px 2px 30px 2px rgb(182, 15, 137);
}
.box:hover{
 box-shadow: 2px 2px 30px 2px green;
}
.box{
 box-shadow: 2px 2px 30px 2px red;
}
.box2{
 box-shadow: 2px 2px 30px 2px rgba(241, 246, 241, 0.31);
}

@layer utilities {
  @keyframes fade-in-center {
    0% {
      opacity: 0;
      transform: translateX(0) scale(0.0);
    }
    
    100% {
      opacity: 1;
      transform:translate3d(0) scale(1);
    }
  }

  .animate-fade-in-center {
    animation: fade-in-center 2s ease-in-out ;
  }
}



@layer utilities {
  @keyframes fade-in-up {
    0% {
      opacity: 0;
      transform: translateY(-100vh) scale(0.0);
    }

    100% {
      opacity: 1;
      transform:translateY(0) scale(1);
    }
  }

  .animate-fade-in-up {
    animation: fade-in-up 2s ease-in-out ;
  }
}
@layer utilities {
  @keyframes fade-in-down {
    0% {
      opacity: 0;
      transform: translateY(100vh) scale(0.0);
    }

    100% {
      opacity: 1;
      transform:translateY(0) scale(1);
    }
  }

  .animate-fade-in-down {
    animation: fade-in-down 2s ease-in-out ;
  }
}